.hidden {
  display: none;
}

input {
  border: 2px solid DarkGray;
  border-radius: 2px;
}

button {
  font-weight: bold;
  border: 2px solid DarkGray;
  border-radius: 4px;
}

div span:last-child {
  font-weight: bold;
}

---
비교 분석해보기

.hidden {
  display: none;
}

.hidden h3:last-child {
  font-weight: bold;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  margin: 0;
  font-weight: normal;
}

div h3:last-child {
  font-weight: bold;
}
